{
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "react-app",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "ignorePatterns": [
    "**/*.d.ts"
  ],
  "rules": {
    "no-magic-numbers": [
      "warn",
      {
        "ignoreArrayIndexes": true,
        "ignoreDefaultValues": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "import/no-cycle": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "consistent-return": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": [
          "camelCase",
          "PascalCase",
          "snake_case",
          "UPPER_CASE"
        ],
        "leadingUnderscore": "allowSingleOrDouble"
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "react/jsx-key": "error",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "react/no-array-index-key": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-curly-newline": "off",
    "no-nested-ternary": "off",
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "react/require-default-props": "off",
    "radix": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.test.ts",
          "**/*.test.tsx",
          "src/tests/**/*",
          "**/*.stories.tsx",
          "src/stories/**/*"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/jsx-boolean-value": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "enums": "only-multiline",
        "functions": "only-multiline",
        "generics": "only-multiline",
        "tuples": "only-multiline"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "warn"
    ],
    "@typescript-eslint/default-param-last": "off"
  }
}